@{
    ViewBag.Title = "SendFeedbackSuccess";
}

<div class="hero-unit">
<center>
<h1>We got your message.</h1>
<br>
<p>
<div class="row">
<div class="span6 offset2">
    <ul class="unstyled dialogHeader">
        <li>Your question/feedback has been sent to the Support Team. Thank you!</li>
        <li>Back to your @Html.ActionLink("Dashboard", "Index", "Dashboard").</li>
    </ul>
</div>
</div>
</center>
</div> <!-- hero -->