@{
    ViewBag.Title = "SendFeedbackSuccess";
}

<h2>Question/Feedback Sent</h2>
<p>
    Your question/feedback has been sent to the Support Team. Thank you! Now back to your @Html.ActionLink("dashboard", "Index", "Dashboard").
</p>