@{
    ViewBag.Title = "SendFeedbackFail";
}

<div class="hero-unit">
<center>
<h2>Feedback Not Sent.</h2>
<p>
    Something went wrong with your feedback submittal. Try again?
    <br>
    Now back to your @Html.ActionLink("dashboard", "Index", "Dashboard").
</p>
</center>
</div> <!-- hero -->