@{
    ViewBag.Title = "SendFeedbackSuccess";
}

<div class="hero-unit">
<center>
<h2>We got your message.</h2>
<p>
    Your question/feedback has been sent to the Support Team. Thank you!
    <br>
    Now back to your @Html.ActionLink("dashboard", "Index", "Dashboard").
</p>
</center>
</div> <!-- hero -->