@using ActionMailer.Net.Mvc
@model string

@{
    ViewBag.Title = "Welcome to MenuDart!";
    Layout = "../Shared/EmailLayout.cshtml";
}
<p style="margin-bottom:1em">
Hey there @Model,
<p style="margin-bottom:1em">
Welcome to Menu Dart! We hope you will find our tools empowering for you and your business.
<p style="margin-bottom:1em">
If you haven't already, try <a href="http://www.menudart.com/Menu/MenuBuilder">creating your own mobile-friendly menu</a> today! It's free for 30 days, and no credit card is required. What are you waiting for?
<p style="margin-bottom:1em">
Also, if you ever have any questions, don't hesitate to contact us anytime at <a href="mailto:support@menudart.com">support@menudart.com</a>. We <i>will</i> get back to you.
<p style="margin-bottom:1em">
Cheers,
<br>
Your Friends at Menu Dart
