@using ActionMailer.Net.Mvc
@model MenuDart.Models.SendPasswordResetEmailViewModel

@{
    ViewBag.Title = "MenuDart Account Password Reset";
    Layout = "../Shared/EmailLayout.cshtml";
}

<h2>Hey there @Model.Email,</h2>
<p>
Did you ask to reset your password?
<br>
If you did, please click the following link to reset your password at MenuDart.com:
<br>
<a href="@Model.ResetLink">Reset My Password</a>
<p>
(If you did not request a password reset, just ignore this email.)
<p>
Cheers,
<br>
Your Friends at MenuDart
