@using ActionMailer.Net.Mvc
@model MenuDart.Models.SendTrialExpiredEmailViewModel

@{
    ViewBag.Title = "Your 30-day free trial has expired. Activate your mobile menu!";
    Layout = "../Shared/EmailLayout.cshtml";
}

<h2>Hey there @Model.Email,</h2>
<p>
We just want to let you know that your MenuDart 30-day free trial has expired. 

@if (Model.DeactivatedMenus.Count() > 0)
{
    <text>
    Your mobile menu(s) have been deactivated and no longer viewable by your customers:
    <p>
    </text>
    
    foreach (var item in Model.DeactivatedMenus)
    {
         @item.MenuName<text><br></text>
    }
    
    <text>
    <p>
    Remember, you can always re-activate your menu(s) anytime at MenuDart.com.
    </text>
}
<p>
MenuDart is still only $7 a month! Start immediately by signing in and activating your menu.
<p>
Happy to serve you,
<br>
Your Friends at MenuDart
