@using ActionMailer.Net.Mvc
@model string

@{
    ViewBag.Title = "You've Received a Free Month!";
    Layout = "../Shared/EmailLayout.cshtml";
}

<h2>Hey there @Model,</h2>
<p>
You've received a free month of service for your mobile menu(s), compliments of Menu Dart. Enjoy!
<p>
Cheers,
<br>
Your Friends at MenuDart
