@using ActionMailer.Net.Mvc
@model string

@{
    ViewBag.Title = "Welcome to MenuDart!";
    Layout = "../Shared/EmailLayout.cshtml";
}

<h2>Hey there @Model,</h2>
<p>
Welcome to MenuDart! Thanks for signing up. We hope...
<p>
Cheers,
<br>
Your Friends at MenuDart
