@using ActionMailer.Net.Mvc
@model MenuDart.Models.SendPasswordResetEmailViewModel

@{
    ViewBag.Title = "MenuDart Account Password Reset";
    Layout = "../Shared/EmailLayout.cshtml";
}

Hey there @Model.Email,
<p style="margin-bottom:1em">
Did you ask to reset your password?
<p style="margin-bottom:1em">
If you did, please click the following link to reset your password at MenuDart.com:
<p style="margin-bottom:1em">
<a href="@Model.ResetLink">Reset My Password</a>
<p style="margin-bottom:1em">
(If you did not request a password reset, just ignore this email.)
<p style="margin-bottom:1em">
Cheers,
<br>
Your Friends at Menu Dart
