USE [DB_51435_menudart]
GO
/****** Object:  Table [dbo].[UserInfoes]    Script Date: 12/29/2012 15:11:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfoes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Subscribed] [bit] NOT NULL,
	[TrialEnded] [bit] NOT NULL,
	[TrialExpWarningSent] [bit] NOT NULL,
	[PaymentCustomerId] [nvarchar](max) NULL,
	[PaymentCustomerStatus] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
