@if(Request.IsAuthenticated) {
    @MenuDart.Controllers.MenuExtensions.MenuItem(Html, "Your Dashboard", "Index", "Dashboard")
    <li>@Html.ActionLink("Log Out " + User.Identity.Name, "LogOff", "Account")</li>
}
else
{ 
    @MenuDart.Controllers.MenuExtensions.MenuItem(Html, "Sign Up, Free!", "Register", "Account")
    @MenuDart.Controllers.MenuExtensions.MenuItem(Html, "Log In", "LogOn", "Account")
}