<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>
<div style="background-color: #eeeeee; color: #696969; padding: 20px; font-family: Arial, Sans-Serif;">
    <header>
        <img src="http://www.menudart.com/content/images/logo2.png" />
        <p style="margin-bottom:1em">
    </header>
    @RenderBody()
    <footer>
    <p style="margin-bottom:1em"><br /><br />
    <hr />
    <p style="margin-bottom:1em">
    <a href="mailto:support@menudart.com">Support</a> &middot;          
    <a href="http://twitter.com/menudart" target="_blank">Twitter</a>
    </p>        
    <p style="margin-bottom:1em">&copy; Menu Dart 2013</p>
    </footer>
</div>
</body>
</html>
