@{
    ViewBag.Title = "Change Password";
}

<div class="hero-unit">
<center><h1>Password Changed.</h1>
<br />
<p>
<div class="row">
<div class="span6 offset2">
    <ul class="unstyled dialogHeader">
        <li>@ViewBag.Email,</li>
        <li>your password has been changed successfully.</li>
        <li>Return to your @Html.ActionLink("Dashboard", "Index", "Dashboard", new { email = ViewBag.Email }, null).</li>
    </ul>
</div>
</div>
</center>
</div> <!-- hero -->
