@{
    ViewBag.Title = "Change Password";
}

<div class="hero-unit">
<center><h1>Password Changed.</h1>
<br />
<p>
    @ViewBag.Email, your password has been changed successfully.<br />
    You can now return to your @Html.ActionLink("Dashboard", "Index", "Dashboard", new { email = ViewBag.Email }, null).
</p>
</center>
</div> <!-- hero -->
