@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>
<p>
    @ViewBag.Email, your password has been changed successfully. Go back to your @Html.ActionLink("dashboard", "Index", "Dashboard", new { email = ViewBag.Email }, null).
</p>
