@{
    ViewBag.Title = "ResetPasswordFailed";
}

<div class="hero-unit">
<center><h1>Password Reset Failed.</h1>
<br>
<p>
    Your password reset did not work. Try again at the @Html.ActionLink("log in page", "LogOn", "Account") or contact Menu Dart Support.
</p>
</center>
</div> <!-- hero -->
