@{
    ViewBag.Title = "ResetPasswordFailed";
}

<div class="hero-unit">
<center><h1>Password Reset Failed.</h1>
<br>
<p>
<div class="row">
<div class="span6 offset2">
    <ul class="unstyled dialogHeader">
        <li>Your password reset did not work.</li>
        <li>Try again at the @Html.ActionLink("log in page", "LogOn", "Account") or</li>
        <li>contact Menu Dart Support.</li>
    </ul>
</div>
</div>
</center>
</div> <!-- hero -->
