@{
    ViewBag.Title = "ResetPasswordSuccess";
}

<h2>Password Successfully Reset</h2>
<p>
    Congrats, you have reset your password. Now @Html.ActionLink("Log On", "LogOn", "Account")!
</p>

