@{
    ViewBag.Title = "ResetPasswordSuccess";
}

<div class="hero-unit">
<center><h1>Password Successfully Reset.</h1>
<br>
<p>
    Congrats, you have reset your password. @Html.ActionLink("Now log in!", "LogOn", "Account")
</p>
</center>
</div> <!-- hero -->
