@{
    ViewBag.Title = "ResetPasswordFailed";
}

<h2>Password Reset Failed</h2>
<p>
    Your password reset has gone terribly wrong. Try again at the @Html.ActionLink("Log On", "LogOn", "Account").
</p>
