@{
    ViewBag.Title = "ResetPasswordSuccess";
}

<div class="hero-unit">
<center><h1>Password Successfully Reset.</h1>
<br>
<p>
<div class="row">
<div class="span6 offset2">
    <ul class="unstyled dialogHeader">
        <li>Congrats, you have reset your password.</li>
        <li>@Html.ActionLink("Now log in!", "LogOn", "Account")</li>
    </ul>
</div>
</div>
</center>
</div> <!-- hero -->
