@{
    ViewBag.Title = "StartResetSuccess";
}

<div class="hero-unit">
<center><h1>Reset Email Sent.</h1>
<br>
<p>
    A reset link has emailed to you. From there, you can @Html.ActionLink("log back in", "LogOn", "Account") and reset your password.
</p>
</center>
</div> <!-- hero -->
