@{
    ViewBag.Title = "StartResetSuccess";
}

<h2>Reset Link Sent</h2>
<p>
    A reset link has emailed to you. From there, you can log back in and reset your password.
</p>
@Html.ActionLink("Log On", "LogOn", "Account")
