@{
    ViewBag.Title = "Menu Activated";
}

<div class="hero-unit">
<center><h1>@TempData["Name"] is Activated.</h1>
<br>
<p>
<div class="greytext">
<h3>
Congratulations! Your menu is located at:<br />@Html.ActionLink(TempData["Url"].ToString(), "ViewActiveMenu", "Menu", new { id = TempData["Id"] }, null)
</h3>
</div>
</center>
<p>
<br />
<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>
</div> <!-- hero -->
