@{
    ViewBag.Title = "Activate All Menu(s) Successful";
}

<div class="hero-unit">
<center>
<h1>Activated all menu(s).</h1>
<br>
<h2>All your menu(s) are now activated.</h2>
</center>
<p>
<br />
<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>
</div> <!-- hero -->
