@{
    ViewBag.Title = "Menu Activated";
}

<h2>The menu for @TempData["Name"] is Activated!
<p>It's located at:<br />@Html.ActionLink(TempData["Url"].ToString(), "ViewActiveMenu", "Menu", new { id = TempData["Id"] }, null)
</h2>
<p>
@Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
