@{
    ViewBag.Title = "Cancelled";
}

<div class="hero-unit">
<center>
<h1>Action Cancelled.</h1>
</center>
<p>
<br />
<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>
</div> <!-- hero -->