@{
    ViewBag.Title = "Subscription Completed!";
}

<h2>Subscription to all Menu(s) Completed!</h2>

<p>
Profile ID: @ViewBag.ProfileId
<br />
Profile Status: @ViewBag.ProfileStatus
<p>
@Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
