@{
    ViewBag.Title = "Subscription Completed!";
}

<div class="hero-unit">
<center>
<h1>Subscription to all Menu(s) Completed.</h1>
<br />
<p>
Profile ID: @ViewBag.ProfileId
<br />
Profile Status: @ViewBag.ProfileStatus
</center>
<p>
<br />
<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>
</div> <!-- hero -->
