@{
    ViewBag.Title = "Menu Deactivated";
}

<div class="hero-unit">
<center><h1>@TempData["Name"] is Deactivated.</h1>
<br>
<p>
Your @TempData["Name"] menu is no longer viewable by your customers.
<p>
Your resulting new billing agreement has been created.
</center>
<p>
<br />
<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>
</div> <!-- hero -->