@{
    ViewBag.Title = "Menu Deactivated";
}

<h2>Menu Deactivated</h2>
<p>
Your menu is no longer viewable by your customers.
<p>
Your resulting new billing agreement has been created.
<p>
@Html.ActionLink("Back to Dashboard", "Index", "Dashboard")