@{
    ViewBag.Title = "Menu Deactivated";
}

<div class="hero-unit">
<center><h1>@TempData["Name"]<br />is Deactivated.</h1>
<br>
<p>
<div class="greytext">
<h2>Your @TempData["Name"] menu<br />is no longer viewable by your customers.</h2>
</div>
</center>
<p>
<br />
<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>
</div> <!-- hero -->