@{
    ViewBag.Title = "Menu Deactivated";
}

<div class="hero-unit">
<center><h1>@TempData["Name"]<br />Deactivated.</h1>
<br>
<p>
<div class="greytext">
<h3>@TempData["Name"]<br />is no longer viewable by your customers.</h3>
</div>
</center>
<p>
<br />
<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>
</div> <!-- hero -->