@{
    ViewBag.Title = "Deactivate All Menu(s) Successful";
}

<h2>All your menu(s) are now deactivated. Your billing agreement with MenuDart has been cancelled.</h2>
<p>
@Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
