@{
    ViewBag.Title = "Deactivate All Menu(s) Successful";
}

<div class="hero-unit">
<center>
<h1>Deactivated all menu(s).</h1>
<br>
<div class="greytext">
<h2>All your menu(s) are now deactivated. Your billing agreement with MenuDart has been cancelled.</h2>
</div>
</center>
<p>
<br />
<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>
</div> <!-- hero -->
