@{
    ViewBag.Title = "Deactivate All Menu(s)?";
}

<div class="hero-unit">
<center>
<h1>Deactivate all menu(s)?</h1>
<br>
<h3>Are you sure you want to deactivate @ViewBag.NumActiveMenus active menu(s)?
<p>
If you continue, your menu(s) won't be permanently removed, but they will no longer be viewable by your customers (or anyone).
<p>
By continuing, your current billing agreement will be cancelled and you will no longer be charged by MenuDart.com (since you will not have any more active menus).
<p>
(Remember, you can always re-activate your menu(s) anytime.)
</h3>

@using (Html.BeginForm())
{
    @Html.Hidden("Email", (object)ViewBag.Email)

    <div class="form-actions">
        <button type="submit" value="DeactivateAll" class="btn btn-large btn-primary"><i class="icon-ok icon-white"></i> Deactivate All</button>
        <a class="btn btn-primary btn-large" href="@Url.Action("Index", "Dashboard")"><i class="icon-remove icon-white"></i> Cancel</a>
    </div>
}
</center>

<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>
</div> <!-- hero -->