@{
    ViewBag.Title = "Menu Deactivated";
}

<div class="hero-unit">
<center>
<h1>@ViewBag.Name is Deactivated.</h1>
<br>
<p>
<div class="greytext">
<h2>You do not have any active menus. You will no longer be billed by MenuDart.com.</h2>
</div>
</center>
<p>
<br />
<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>
</div> <!-- hero -->