@{
    ViewBag.Title = "Menu Deactivated";
}

<h2>@ViewBag.Name Deactivated</h2>

<h2>You do not have any active menus. You will no longer be billed by MenuDart.com.</h2>
<p>
@Html.ActionLink("Back to Dashboard", "Index", "Dashboard")