.logo {
    border: solid 2px #000;
}

.ui-header .ui-btn-left {
    top: 1.4em;    
}

.ui-li-has-count .ui-li-count {
    border: 0px solid;
    background: transparent;
    font-size: 1em;
}

.ui-li-heading {
    white-space: normal;
    margin-right: 1em;
}

.ui-li-desc {
    white-space: normal;
    margin-right: 1em;
}

.ui-li {
    border-right-width: 1px;
    border-left-width: 1px;
}

div.mapImg img{
    border: solid 2px #000;
}

.insetBtn{
    margin-right: 40px;
    margin-left: 40px;
}

.menuDartFooter {
    font-size: 0.75em;
    margin: 0 10px 5px 0;
}

.center{
	text-align:center;
}

.headerBar h2 {
        margin-top: 0.7em;
        margin-bottom: 0.7em;	
}

.ui-icon-phone {
	background-image: url("../../../images/phone.png");
}

.ui-icon-monitor {
	background-image: url("../../../images/display.png");
}

.ui-icon-email {
	background-image: url("../../../images/envelope.png");
}

.ui-icon-facebook {
	background-image: url("../../../images/facebook.png");
}

.ui-icon-twitter {
	background-image: url("../../../images/twitter.png");
}

.ui-icon-yelp {
	background-image: url("../../../images/yelp.png");
}

/* Custom theme F 
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-f {
	border: 1px solid 		#456f9a /*{b-bar-border}*/;
	background: 			#5e87b0 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ -1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #254f7a /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #81a8ce /*{b-bar-background-start}*/), to( #5e87b0 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/);
}

.ui-btn-up-f {
	border: 1px solid 		#145072 /*{b-bup-border}*/;
	background: 			#2567ab /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ -1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #145072 /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #3b5998 /*{b-bup-background-start}*/), to( #0e1f5b /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#3b5998 /*{b-bup-background-start}*/, #0e1f5b /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#3b5998 /*{b-bup-background-start}*/, #0e1f5b /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#3b5998 /*{b-bup-background-start}*/, #0e1f5b /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#3b5998 /*{b-bup-background-start}*/, #0e1f5b /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#3b5998 /*{b-bup-background-start}*/, #0e1f5b /*{b-bup-background-end}*/);
}
.ui-btn-up-f a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
.ui-btn-hover-f {
	border: 1px solid 		#00516e /*{b-bhover-border}*/;
	background: 			#4b88b6 /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ -1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #014D68 /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #7f93bc /*{b-bhover-background-start}*/), to( #3b5998 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#7f93bc /*{b-bhover-background-start}*/, #3b5998 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#7f93bc /*{b-bhover-background-start}*/, #3b5998 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#7f93bc /*{b-bhover-background-start}*/, #3b5998 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#7f93bc /*{b-bhover-background-start}*/, #3b5998 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#7f93bc /*{b-bhover-background-start}*/, #3b5998 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-f a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
.ui-btn-down-f {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#4e89c5 /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ -1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #225377 /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #396b9e /*{b-bdown-background-start}*/), to( #4e89c5 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#396b9e /*{b-bdown-background-start}*/, #4e89c5 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#396b9e /*{b-bdown-background-start}*/, #4e89c5 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#396b9e /*{b-bdown-background-start}*/, #4e89c5 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#396b9e /*{b-bdown-background-start}*/, #4e89c5 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#396b9e /*{b-bdown-background-start}*/, #4e89c5 /*{b-bdown-background-end}*/);
}
.ui-btn-down-f a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-f,
.ui-btn-hover-f,
.ui-btn-down-f {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}

/* Custom theme T
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-t {
	border: 1px solid 		#456f9a /*{b-bar-border}*/;
	background: 			#5e87b0 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ -1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #254f7a /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #81a8ce /*{b-bar-background-start}*/), to( #5e87b0 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/);
}

.ui-btn-up-t {
	border: 1px solid 		#598386 /*{b-bup-border}*/;
	background: 			#2567ab /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ -1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #145072 /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #9AE4E8 /*{b-bup-background-start}*/), to( #6FA4A7 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#9AE4E8 /*{b-bup-background-start}*/, #6FA4A7 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#9AE4E8 /*{b-bup-background-start}*/, #6FA4A7 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#9AE4E8 /*{b-bup-background-start}*/, #6FA4A7 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#9AE4E8 /*{b-bup-background-start}*/, #6FA4A7 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#9AE4E8 /*{b-bup-background-start}*/, #6FA4A7 /*{b-bup-background-end}*/);
}
.ui-btn-up-t a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
.ui-btn-hover-t {
	border: 1px solid 		#598386 /*{b-bhover-border}*/;
	background: 			#4b88b6 /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ -1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #014D68 /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #AEE9ED /*{b-bhover-background-start}*/), to( #9AE4E8 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#AEE9ED /*{b-bhover-background-start}*/, #9AE4E8 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#AEE9ED /*{b-bhover-background-start}*/, #9AE4E8 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#AEE9ED /*{b-bhover-background-start}*/, #9AE4E8 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#AEE9ED /*{b-bhover-background-start}*/, #9AE4E8 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#AEE9ED /*{b-bhover-background-start}*/, #9AE4E8 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-t a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
.ui-btn-down-t {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#4e89c5 /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ -1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #225377 /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #396b9e /*{b-bdown-background-start}*/), to( #4e89c5 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#396b9e /*{b-bdown-background-start}*/, #4e89c5 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#396b9e /*{b-bdown-background-start}*/, #4e89c5 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#396b9e /*{b-bdown-background-start}*/, #4e89c5 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#396b9e /*{b-bdown-background-start}*/, #4e89c5 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#396b9e /*{b-bdown-background-start}*/, #4e89c5 /*{b-bdown-background-end}*/);
}
.ui-btn-down-t a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-t,
.ui-btn-hover-t,
.ui-btn-down-t {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}

/* Custom theme Y
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-y {
	border: 1px solid 		#456f9a /*{b-bar-border}*/;
	background: 			#5e87b0 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ -1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #254f7a /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #81a8ce /*{b-bar-background-start}*/), to( #5e87b0 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/);
}

.ui-btn-up-y {
	border: 1px solid 		maroon /*{b-bup-border}*/;
	background: 			#2567ab /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ -1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #145072 /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #C80000 /*{b-bup-background-start}*/), to( maroon /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#C80000 /*{b-bup-background-start}*/, maroon /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#C80000 /*{b-bup-background-start}*/, maroon /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#C80000 /*{b-bup-background-start}*/, maroon /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#C80000 /*{b-bup-background-start}*/, maroon /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#C80000 /*{b-bup-background-start}*/, maroon /*{b-bup-background-end}*/);
}
.ui-btn-up-y a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
.ui-btn-hover-y {
	border: 1px solid 		maroon /*{b-bhover-border}*/;
	background: 			#4b88b6 /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ -1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #014D68 /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #D33333 /*{b-bhover-background-start}*/), to( #C80000 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#D33333 /*{b-bhover-background-start}*/, #C80000 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#D33333 /*{b-bhover-background-start}*/, #C80000 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#D33333 /*{b-bhover-background-start}*/, #C80000 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#D33333 /*{b-bhover-background-start}*/, #C80000 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#D33333 /*{b-bhover-background-start}*/, #C80000 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-y a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
.ui-btn-down-y {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#4e89c5 /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ -1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #225377 /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #D33333 /*{b-bdown-background-start}*/), to( #C80000 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#D33333 /*{b-bdown-background-start}*/, #C80000 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#D33333 /*{b-bdown-background-start}*/, #C80000 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#D33333 /*{b-bdown-background-start}*/, #C80000 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#D33333 /*{b-bdown-background-start}*/, #C80000 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#D33333 /*{b-bdown-background-start}*/, #C80000 /*{b-bdown-background-end}*/);
}
.ui-btn-down-y a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-y,
.ui-btn-hover-y,
.ui-btn-down-y {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}