@{
    ViewBag.Title = "Menu Dart. Create Your Own Mobile Menu - Features.";
}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <center><h1>Features.</h1></center>
      </div>

      <div class="row">
            <div class="span6">
            <div class="features">
            <i class="iphone"></i>
            Looks great on all major mobile devices.
            <p>iPhone, Android, Blackberry, Windows Phone, more</p></div>
            </div>

            <div class="span6">
              <div class="features">
              <i class="food"></i>
              Keep your existing restaurant website.
              <p>Mobile menu displays to smartphone users only</p></div>
            </div>
      </div>  

      <div class="row">
            <div class="span6">
              <div class="features">
              <i class="todo"></i>
              Visitors don't need to download an app.
               <p>The menu <em>is</em> the app</p></div>
            </div>
 
            <div class="span6">
              <div class="features">
              <i class="todo"></i>
              Menu is fully hosted for you.
              <p>No traffic limit, High availability</p></div>
            </div>
      </div>  
                  
      <div class="row">
            <div class="span6">
              <div class="features">
              <i class="gear"></i>
              Customize with your business info.
               <p>Contact, directions, hours</p></div>
            </div>
 
            <div class="span6">
              <div class="features">
              <i class="todo"></i>
              Monthly subscription.
              <p>Cancel anytime, Start again anytime</p></div>
            </div>                 
      </div>
            
      <p><a class="btn btn-primary btn-large" href="@Url.Action("MenuBuilder", "Menu")">Create menu now <i class="icon-chevron-right icon-white"></i></a></p>

    <div class="container">
    </div>