@{
    ViewBag.Title = "MenuDart. Easy Mobile Menus. Features.";
}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <center><h1>Features.</h1></center>
      </div>

      <div class="row features">
            <div class="span6">
              <i class="iphone"></i>
              <h3>Looks great on all major mobile devices</h3>
               <p>iPhone, Android, Blackberry, Windows Phone, more</p>
            </div>

            <div class="span6">
              <i class="food"></i>
              <h3>Keep your existing restaurant website</h3>
              <p>Mobile menu displays to smartphone users only</p>
            </div>

            <div class="span6">
              <i class="todo"></i>    
              <h3>Visitors don't need to download an app</h3>
               <p>The menu <em>is</em> the app</p>
            </div>
 
            <div class="span6">
              <i class="todo"></i>
              <h3>Menu is fully hosted for you</h3>
              <p>No traffic limit</p>
            </div>
            
            <div class="span6">
              <i class="gear"></i>    
              <h3>Customize with your business info</h3>
               <p>Contact, directions, hours</p>
            </div>
 
            <div class="span6">
              <i class="todo"></i>
              <h3>Monthly subscription</h3>
              <p>Cancel anytime</p>
            </div>            
      </div>
            
      <p><a class="btn btn-primary btn-large" href="@Url.Action("MenuBuilder", "Menu")">Create menu now <i class="icon-chevron-right icon-white"></i></a></p>

    <div class="container">
    </div>
    
    <hr>