@{
    ViewBag.Title = "MenuDart";
}

<p>
    @Html.ActionLink("Try it now!", "MenuBuilder", "Menu", null, null)
</p>

<br />
<h2>Admin</h2>
<p>
    @Html.ActionLink("Menus", "Index", "Menu")
</p>
<p>
    @Html.ActionLink("Templates", "Index", "Template")
</p>
<p>
    @Html.ActionLink("Temporary Menus (Not owned)", "Index", "TempMenu")
</p>
