@{
    ViewBag.Title = "Menu Dart. Easy Mobile Menus. Pricing.";
}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <center><h1>It's Just 7 Bucks A Month.</h1></center>
      </div>

       <div class="row">
            <div class="span4">
              <div class="features">
              <i class="todo"></i>    
              Monthly Subscription.
               <p>$7 per month gets you everything. There are no other fees. Need another menu? Just another $7.</p>
              </div>
            </div>
 
            <div class="span4">
              <div class="features">
              <i class="todo"></i>
              Cancel/Start Anytime.
              <p>Cancel your subscription anytime. Change your mind? Start again anytime. Your menu
              is saved.</p>
              </div>
            </div>
            
            <div class="span4">
              <div class="features">
              <i class="todo"></i>
              Secure Payments.
              <p>We use <a href="http://www.stripe.com" target=_blank>Stripe</a> to process a quick, secure, and modern payment with your credit card.
              <img src="@Url.Content("~/Content/images/creditcards.png")">
              </p>
              </div>
            </div>            
      </div>
            
        <p><a class="btn btn-primary btn-large" href="@Url.Action("MenuBuilder", "Menu")">Create menu now <i class="icon-chevron-right icon-white"></i></a></p>