@{
    ViewBag.Title = "Menu Dart. Create Your Own Mobile Menu - How to Use.";
}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <center><h1>Show Off Your Menu.</h1></center>
      </div>
            
       <div class="row">
            <div class="span4">
              <div class="features">
              <i class="todo"></i>    
              Add to Yelp.
              <p>Let customers see your mobile menu from your restaurant's <a href="http://www.yelp.com" target=_blank>Yelp</a> page.</p>
              </div>
            </div>
 
            <div class="span4">
              <div class="features">
              <i class="todo"></i>
              Add a Link.
              <p>If you have an existing website for your restaurant, you can easily
              add a link to your Menu Dart menu from it.</p>
              </div>
            </div>
            
            <div class="span4">
              <div class="features">
              <i class="todo"></i>
              Divert Mobile Users.
              <p>If you have an existing website for your restaurant, you can also have
              the option of automatically diverting mobile customers directly to your
              Menu Dart menu. Contact our <a href="mailto:support@menudart.com">Support Team</a> for help.</p>
              </div>
            </div>            
      </div>
       
        <p><a class="btn btn-primary btn-large" href="@Url.Action("MenuBuilder", "Menu")">Create menu now <i class="icon-chevron-right icon-white"></i></a></p>