@model MenuDart.Models.Menu

@{
    ViewBag.Title = "Delete";
}

<div class="hero-unit">
<center><h1>Remove @Model.Name?</h1>

<h3>Are you sure you want to permanently remove the menu for @Model.Name?
<br>
It will no longer be able to be recovered.
<p>
Or maybe you just want to deactivate it? It won't be live, but won't be removed either.</h3>
@using (Html.BeginForm()) {
    <div class="form-actions">
        <button type="submit" value="Remove For Good" class="btn btn-large btn-primary"><i class="icon-ok icon-white"></i> Remove</button>
        <a class="btn btn-primary btn-large" href="@Url.Action("Index", "Dashboard")"><i class="icon-remove icon-white"></i> Cancel</a>
    </div>    
}
</center>
<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>
</div> <!-- hero -->
