@model MenuDart.Models.Menu

@{
    ViewBag.Title = "Delete";
}

<div class="hero-unit">
<center><h1>Remove @Model.Name?</h1>
<div class="greytext">
<h3>You're about to permanently remove the menu for<br />@Model.Name.
<br>
It cannot be recovered after this. Are you sure?
</h3>
</div>
@using (Html.BeginForm()) {
    <div class="form-actions">
        <button type="submit" id="remove_btn" value="Remove For Good" class="btn btn-large btn-primary" data-loading-text="Removing..."><i class="icon-ok icon-white"></i> Remove</button>
        <a class="btn btn-large" href="@Url.Action("Index", "Dashboard")"><i class="icon-remove"></i> Cancel</a>
    </div>    
}
</center>
<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>
</div> <!-- hero -->

<script type="text/javascript">
    //stateful buttons
    $(document).ready(function () {
        $('#remove_btn').button();

        $('#remove_btn').click(function () {
            $(this).button('loading');
        });
    });
</script>
