@{
    ViewBag.Title = "Failed";
}

<h2>Oops. There was a hiccup processing your action. We've been notified and will get back to you on that. Sorry!</h2>
<p>
@Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
