@{
    ViewBag.Title = "MenuBuilder5";
}


<h2>How many locations does your restaurant have?</h2>

@using (Html.BeginForm()) {
    <fieldset>
        <legend>Step 4</legend>

        <div class="editor-label">
            @Html.Label("Number of Locations")
        </div>
        <div class="editor-field">
            @Html.DropDownList("numLocations", ViewData["numList"] as SelectList)
        </div>
        <p>
            <input type="submit" value="Next" />
        </p>
    </fieldset>
}
