@{
    ViewBag.Title = "MenuBuilder3";
}

<h2>Now choose a template:</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Step 2</legend>

        <div class="editor-label">
            @Html.Label("Template")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Template", ViewData["templateList"] as SelectList)
        </div>
        <p>
            <input type="submit" value="Next" />
        </p>
    </fieldset>
}
