@{
    ViewBag.Title = "MenuBuilderAccessViolation";
}
<br>
<h1>Oops.</h1>
<p>
    Hmm, something went wrong. We'll look into it.<br />
    No matter, go back to the @Html.ActionLink("Home page", "Index", "Home").
</p>