@{
    ViewBag.Title = "MenuBuilder9";
}

<h2>Congrats, you're finally done!</h2>
<h3>
You can now check out your finished restaurant menu for @ViewBag.Name.<p>
It's available to @Html.ActionLink("preview here.", "PreviewMenu", "Menu", new { id = ViewBag.MenuId }, null)
<p>
Now check out these ways to connect your menu to your website and link to other sites:
<p></p>
@Html.ActionLink("Go to your Dashboard", "Index", "Dashboard")
</h3>
