@{
    ViewBag.Title = "MenuBuilder9";
}

<h2>Congrats, you're finally done!</h2>
<h3>
You can now check out your finished restaurant menu for @ViewBag.Name.<p>
It's available at: <a href="@ViewBag.Url" target="_blank">@ViewBag.Url</a><br />
(Just use a smartphone or pocket mobile device to surf to this site to check it out in its full mobile-glory.)
<p>
Now check out these ways to connect your menu to your website and link to other sites:
<p></p>
@Html.ActionLink("Go to your Dashboard", "Index", "Dashboard")
</h3>
