@{
    ViewBag.Title = "Menu Trial Limit Reached";
}

<div class="hero-unit">
<center>
<h2>Our apologies,<br />You cannot have more than one active menu<br />while on your 30-day free trial.
<p><br />
    If you choose to subscribe to Menu Dart now, you will have the option to activate more menus.<br />Simply start your subscription @Html.ActionLink("in your dashboard.", "Index", "Dashboard")
<p>
</h2>
</center>

<br>
<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>
</div> <!-- hero -->