@{
    ViewBag.Title = "Menu Trial Limit Reached";
}

<div class="hero-unit">
<center><h1>Sorry.</h1></center>
<br>
<p>
<div class="row">
<div class="span7 offset2">
    <ul class="unstyled dialogHeader">
        <li>You cannot have more than one active menu while on your 30-day free trial.</li>
        <br />
        <li>But if you choose to subscribe to Menu Dart, you will have the option to activate more menus.</li>
        <li>Simply start your subscription @Html.ActionLink("in your Dashboard.", "Index", "Dashboard")</li>
    </ul>
</div>
</div>

<br>
<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>
</div> <!-- hero -->