@model MenuDart.Models.MenuBuilderThemeViewModel
           
@{
    ViewBag.Title = "MenuDart. Easy Mobile Menus. Menu Builder.";
    int i = 0;
}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <center><h1>Menu Builder.</h1></center>
        <br>
        <center><h4>Now choose a theme for your menu:</h4></center>
        <br>
        <p>
        @using (Html.BeginForm("MenuBuilder3", "Menu", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)
            <fieldset>
                <div class="control-group">
                    <label class="control-label">@Html.Label("Theme")</label>
                    <div class="controls">
                        @foreach (string theme in Model.Themes)
                        {
                            i++;

                            <label class="radio inline themeName">@Html.RadioButton("Template", @theme, new { @class = "input-xlarge" })@theme<br><img src="@Url.Content("~/Content/images/themes/" + @theme + ".png")" class="img-polaroid imageSpacing"></label>                 

                            //3 per row
                            if ((i % 3) == 0)
                            {
                                <text>
                                <br><br>
                                </text>
                            }
                        }
                    </div>
                </div> 
                         
                <div class="form-actions">
                    <button type="submit" value="Next" class="btn btn-large btn-primary">Next <i class="icon-chevron-right icon-white"></i></button>
                </div>            
           </fieldset>
        }
        </p>

        <div class="progress progress-striped active">
            <div class="bar" style="width: 20%;">
            </div>
        </div>
    </div> <!-- hero -->
