@{
    ViewBag.Title = "Preview Menu";
}

<div class="hero-unit">
<center>
<h1>Preview.</h1>
<br />
<table cellpadding="0" border="0" cellspacing="0" class="iphoneTable">
  <tr>
    <td class="iphone"><img src="../../../content/images/slice_0_0.png" style="width: 28px;  height: 132px;"></td>
    <td class="iphone"><img src="../../../content/images/slice_0_1.png" style="width: 320px;  height: 132px;"></td>
    <td class="iphone"><img src="../../../content/images/slice_0_2.png" style="width: 29px;  height: 132px;"></td>
</tr>

  <tr>
    <td class="iphone"><img src="../../../content/images/slice_1_0.png" style="width: 28px;  height: 480px;"></td>
    <td class="iphone iframe">
        <iframe src="@ViewBag.Url" width="320" height="480" frameborder="0" scrolling="auto">
        <p>Your browser does not support this preview function. Please click here to try a full page view.</p>
        </iframe>
    </td>
    <td class="iphone"><img src="../../../content/images/slice_1_2.png" style="width: 29px;  height: 480px;"></td>
</tr>

  <tr>
    <td class="iphone"><img src="../../../content/images/slice_2_0.png" style="width: 28px;  height: 131px;"></td>
    <td class="iphone"><img src="../../../content/images/slice_2_1.png" style="width: 320px;  height: 131px;"></td>
    <td class="iphone"><img src="../../../content/images/slice_2_2.png" style="width: 29px;  height: 131px;"></td>
</tr>
</table>

<br />
<h4>
You can also use a smartphone to surf to this menu and check it out in its full mobile-glory at:
<br />
<br />
@ViewBag.Url
</h4>
</center>
</div> <!-- hero -->
