@model MenuDart.Models.ActivateViewModel

@{
    ViewBag.Title = "Publish Menu";
}

<h2>@Model.Name's Menu has been published!
<p>You can check it out at:<br />
@Html.ActionLink(Model.Url, "ViewActiveMenu", "Menu", new { id = Model.MenuId, url = Model.Url }, null)
<p>
@Html.ActionLink("Back to Editor", Model.ReturnUrl, "Menu") |
@Html.ActionLink("Dashboard", "Index", "Dashboard")
</p>
</h2>
