@model MenuDart.Models.ActivateViewModel
           
@{
    ViewBag.Title = "Menu Not Active";
}

<div class="hero-unit">
<center>
<h2>Your menu must be activated before you publish it!
<p>
<br />
@Html.ActionLink("Yes, activate it!", "Activate", "Subscription", new { id = Model.MenuId }, null)
<br />
@Html.ActionLink("No, not now.", Model.ReturnEditPage, "Menu")
</h2>
</center>

<div>
    @Html.ActionLink("Back to Editor", Model.ReturnEditPage, "Menu")
</div>
</div> <!-- hero -->