@model MenuDart.Models.ActivateViewModel

@{
    ViewBag.Title = "Publish Menu";
}

<div class="hero-unit">
<center>
<h1>@Model.Name has been published.</h1>
<br />

<h2>
<p>You can check it out at:<br />
@Html.ActionLink(Model.Url, "ViewActiveMenu", "Menu", new { id = Model.MenuId, url = Model.Url }, null)
<p>
</h2>

</center>

<div>
@if (Model.ReturnEditPage.Contains("Details"))
{
    //for link to menu items editor
    @Html.ActionLink("Back to Editor", Model.ReturnEditPage, "MenuTree", new { parent = 0, idx = -1, source = "MenuEditor", ReturnUrl = "/Edit/" + ViewBag.MenuId }, null);
}
else
{
    @Html.ActionLink("Back to Editor", Model.ReturnEditPage, "Menu")
}
</div>
</div> <!-- hero -->