@{
    ViewBag.Title = "View Menu";
}

<script type="text/javascript">
    document.getElementById("myiframe").contentDocument.location.reload(true);

    var iframe = document.getElementById("myiframe");
    iframe.src = iframe.src;
</script>

<div class="hero-unit">
<center>
<h1>View.</h1>
<br />
<table cellpadding="0" border="0" cellspacing="0" class="iphoneTable">
  <tr>
    <td class="iphone"><img src="../../../content/images/slice_0_0.png" style="width: 28px;  height: 132px;"></td>
    <td class="iphone"><img src="../../../content/images/slice_0_1.png" style="width: 320px;  height: 132px;"></td>
    <td class="iphone"><img src="../../../content/images/slice_0_2.png" style="width: 29px;  height: 132px;"></td>
</tr>

  <tr>
    <td class="iphone"><img src="../../../content/images/slice_1_0.png" style="width: 28px;  height: 480px;"></td>
    <td class="iphone iframe">
        <iframe src="@ViewBag.Url" id="myiframe" width="320" height="480" frameborder="0" scrolling="auto">
        <p>Your browser does not support this preview function. Please click here to try a full page view.</p>
        </iframe>
    </td>
    <td class="iphone"><img src="../../../content/images/slice_1_2.png" style="width: 29px;  height: 480px;"></td>
</tr>

  <tr>
    <td class="iphone"><img src="../../../content/images/slice_2_0.png" style="width: 28px;  height: 131px;"></td>
    <td class="iphone"><img src="../../../content/images/slice_2_1.png" style="width: 320px;  height: 131px;"></td>
    <td class="iphone"><img src="../../../content/images/slice_2_2.png" style="width: 29px;  height: 131px;"></td>
</tr>
</table>

<br />
<div class="greytext">
<h4>
View menu on your mobile device by pointing your browser to this site:
<br />
<br />
@ViewBag.Url
</h4>
</div>
</center>
<br />
<br />
@Html.ActionLink("Edit Menu", "Edit", "Menu", new { id = ViewBag.MenuId }, null)
<br />
@Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div> <!-- hero -->
